<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="ISO-8859-1">-->
<!--    <title>Display CSV Data</title>-->
<!--    <style type="text/css">-->
<!--    span {-->
<!--        display: inline-block;-->
<!--        width: 200px;-->
<!--        text-align: left;-->
<!--    }-->
<!--</style>-->
<!--</head>-->
<!--<body>-->
<!--<div align="center">-->
<!--    <h2>CSV Data:</h2>-->
<!--    <span>Id:</span><span th:text="${data.id}"></span><br/>-->
<!--    <span>Name:</span><span th:text="${data.name}"></span><br/>-->
<!--    <span>E-mail:</span><span th:text="${data.email}"></span><br/>-->
<!--    <span>Password:</span><span th:text="${data.phonenumber}"></span><br/>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->